@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7__content__text {
  width: 225px;
}

.q7--float .q7__content__text {
  font-size: 16px;
  margin-left: 50px;
  float: left;
  box-sizing: border-box;
}

.q7--float .q7__content__text:first-child {
  margin-left: 0;
}

.q7--table .q7__content {
  display: table;
}

.q7--table .q7__content__box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.q7--table .q7__content__box:first-child {
  padding-left: 0;
}

.q7--inlineblock .q7__content {
  font-size: 0;
}

.q7--inlineblock .q7__content__text {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7--inlineblock .q7__content__text:first-child {
  margin-left: 0;
}

.q7--flex .q7__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .q7__content__text {
  vertical-align: middle;
  box-sizing: border-box;
}

.q7__content__inner {
  font-size: 0;
}

.is-inlineblock {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.is-variable {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}

.q7__margin__text {
  font-size: 16px;
}

/* 回答はここに書いてね */

/* 回答はここに書いてね */
