@charset "UTF-8";

.q4_contents {
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}

.q4_content {
  width: 100%;
  display: table;
  margin-top: 20px;
}

.q4_content:first-child {
  margin-top: 0
}

.q4_content_call {
  display: table-cell;
  text-align: center;
  padding: 20px 0;
}

.q4_content_call.pink {
  width: 100px;
  background-color: #fdc8b8;
}

.q4_content_call.purple {
  background-color: #e0abd9;
}

.q4_content_call.blue {
  background-color: #b6d8ed;
  width: 100px;
}

.q4_content_call.yellow {
  background-color: #e5d32a;
}

.q4_content_call.red {
  background-color: #ec8f9a;
}

.q4_content_call.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */

/* 回答はここに書いてね */
