@charset "UTF-8";

.q6__box.is-textalign {
  display: inline-block;
  text-align: center;
}

.q6__box__inner {
  text-align: center;
}

.q6__box.is-margin {
  text-align: center;
}

.q6__box__text {
  padding: 10px 0;
  width: 90px;
  display: inline-block;
  background-color: #E6F2FF;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
